*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*main{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "a b"
    "a c"
    ;
    grid-template-columns: 20vw 1fr; 
    grid-template-rows: 80px 1fr;
    background: red;
}*/ 

nav {
    background-color: #333;
    padding:0px;
    
  }
  
  #menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  #menu li {
    margin-right: 10px;
  }
  
  #menu li a {
    color: #fff;
    text-decoration: none;
  }
  
  #menu li a:hover {
    color: #521919;
  }
  .sidebar {
    width: 200px;
    background-color: #333;
    color: #fff;
    height: 100vh;
    position:absolute;
    left: 0;
    top: 40px;
    padding: 10px;
    

  }
  .sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-direction: column-reverse;
  }
  .sidebar li {
    margin-bottom: 10px;
    
  }
  .sidebar li a {
    color: #fff;
    text-decoration: none;
  }
  .content {
    margin-left: 200px; /* Ancho de la barra lateral */
    padding: 2000px;
  }
  header {
    background-color: #333;
    padding: 1px;
    display:flex;
    align-items: left;    
  }
  
   img {
    width: 100px;
    height: 100px;
    margin-left:930px;
    padding-top: 0px;
  }
  .vertical-bar {
    background-color: #f1f1f1;
    width: 650px;
    padding-left:1200px;
    width: 100px;
    
  }
  
  .vertical-bar {
    display: none;
    color: #8132ff;
    text-decoration: none;
    padding: 5px ;
    left: 1203px;
    top:16%;
    position: fixed;
  }
  .item{
    width: 100px;
    height: 100px;
    margin-left:0px;
    padding-top: 0px;
  }
  .item:hover .vertical-bar{
    display: block;
  }